@font-face {
  font-family: 'Raleway';
  src: url(Raleway.woff2) format('woff2');
}

@font-face {
  font-family: 'Freestyle';
  src: url(FREESCPT.TTF) format("truetype");
}

@font-face {
  font-family: 'Gabriola';
  src: url(Gabriola.ttf) format("truetype");
}
